html,body{
		margin: 0px;
	    padding: 0px;
	    border: 0px; 
	    height: 100%;
		background-color: black;
	}
	body{
		display: block;
	  	background-color: black
	}
	#theblacksheet{
		background-color: rgba(0,0,0,0.67);
		height: 100%;
		padding: 10px;
		color: white;
		overflow: auto;
	}
	#footer{
		width:90px;
		color: gray;
		position: fixed;
		bottom:3px;
		right: 0px;
	}
	#otherpages{
		text-decoration: none;
		color: white;
	}
	#navi a{
		text-decoration: none;
		font-size: 20px;
		font-family: "Courier New", Courier, monospace;
	}
	a:visited {
	    color: white;
	}
	a:active {
	    color: gray;
	}
	#navi ul{
		list-style: none;
		margin:0px;
		padding: 0px;
		position: absolute;
		top: -10px;
		right: 0;
	}
	#navi li{
		float: left;
		text-align: center;
		padding: 30px;
	}
	.otherpages:hover{
		color:#2A7B88 ;

	}
	
	.clearfloat {
		clear: both;
	}
	#navi{
		float: right;
	}
	#header img{
		float: left;
		width:150px;
		top:10px;
		position:absolute;
		left: 40px;	
	}
	#header img:hover{
		opacity: 0.3;
	}
	.sidebar{
		position: relative;
		top: 360px;
		left:150px;
	}
	.sidebar p{
		font-size: 20px;
		font-family: "Courier New", Courier, monospace;
		width: 200px;
		
	}
	.sidebar a{
		text-decoration:none;

	}
	.sidebar p:hover{
		color: #2A7B88
	}
	#gallerycontent{
		position: relative;

		width: 1000px;
		float:right;
	}
	#gallerycontent img{
		width: 300px;
		float: left;
		margin:10px;

	}